* {
    box-sizing: border-box;
}

:root {
    --primary-heading-color: #212832;
    --primary-text-color: #696d76;
    --primary-color: #7264d6;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
}

input,
select,
textarea,
button {
    font-family: inherit;
    font-size: inherit;
}

button {
    border: transparent;
    outline: none;
}

/* Common  */

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    margin: 0 auto;
    max-width: calc(100% - 48px);
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 5.2rem;
    padding: 1.2rem 2.8rem;
    border-radius: 0.6rem;
    background: #212832;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.25s;
}

.btn:hover {
    background: var(--primary-color);
}

.section-title {
    display: flex;
    align-items: center;
    color: var(--primary-text-color);
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
}

.section-title::before {
    content: "";
    display: inline-block;
    margin-right: 1.2rem;
    width: 1.8rem;
    height: 0.2rem;
    flex-shrink: 0;
    background: #696d77;
}

.section-desc--big {
    color: var(--primary-text-color);
    font-size: 1.8rem;
    line-height: 1.66; /* 166.667% */
}

.section-desc--small {
    color: var(--primary-text-color);
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-heading-lv2 {
    color: #212832;
    font-size: 4rem;
    font-weight: 700;
    line-height: 5rem; /* 125% */
}

.section-heading-lv3 {
    color: #212832;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 3.2rem; /* 145.455% */
}

/* Header */

.header {
    position: sticky;
    z-index: 99;
    top: -3rem;
    padding: 4.2rem 0 1.2rem;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: brightness(200%) blur(6px);
    -webkit-backdrop-filter: brightness(200%) blur(6px);
}

.header-inner {
    display: flex;
    align-items: center;
}

.header__nav-wrapper {
    margin-left: 7rem;
}

.header__nav-list {
    display: flex;
    column-gap: 4rem;
}

.header__nav-item {
    display: inline-block;
    flex-shrink: 0;
    position: relative;
    padding: 0.4rem 0.8rem;
    color: var(--primary-text-color);
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
}

.header__nav-item:hover {
    color: var(--primary-heading-color);
    text-shadow: -0.01rem -0.01rem, 0.01rem 0.01rem;
}

.header__nav-item:hover::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -0.6rem;
    height: 0.2rem;
    background: var(--primary-color);
    border-radius: 0.1rem;
}

.header__action {
    display: flex;
    margin-left: auto;
}

.login-btn,
.sign-up-btn {
    white-space: nowrap;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
}

.login-btn {
    color: var(--primary-heading-color);
    background: transparent;
}

.sign-up-btn {
    color: #fff;
}

.sign-up-btn:hover {
    background: var(--primary-color);
    color: var(--primary-heading-color);
}

/* Hero */

.hero-inner {
    display: flex;
    align-items: center;
    margin-top: 6.4rem;
}

.hero-content {
    width: 54rem;
}

.hero__heading {
    color: var(--primary-heading-color);
    width: 50rem;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.16;
}

.hero__heading--hightlight {
    color: var(--primary-color);
}

.hero-desc {
    padding: 2rem 0 4rem;
}

.hero-form {
    display: flex;
    align-items: center;
    padding-right: 0.8rem;
    width: 100%;
    height: 7.4rem;
    border-radius: 0.8rem;
    background: #fff;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.hero-form__input {
    width: 100%;
    height: 100%;
    padding: 2.3rem;
    border: none;
    outline: none;
    border-radius: inherit;
}

.hero-form__input::placeholder {
    color: var(--primary-text-color);
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
}

.hero-form__submit {
    flex-shrink: 0;
    white-space: nowrap;
    color: #fff;
    background: var(--primary-color);
}

.hero__protected-info {
    margin-top: 2rem;
    color: var(--primary-text-color);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71; /* 171.429% */
}

.moblie-app {
    position: relative;
    margin-left: 16.8rem;
    padding: 4rem 1rem 3rem;
    width: 29.6rem;
    height: 56.2rem;
    border-radius: 4rem;
    border: 12px solid #212832;
    background: #fff;
}

.moblie-app::before {
    position: absolute;
    top: -1.2rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    content: "";
    display: inline-block;
    width: 14.4rem;
    height: 3.6rem;
    border-radius: 0rem 0rem 1.8rem 1.8rem;
    background: #3c2f60;
}

.app__bank-card {
    position: relative;
    width: 25rem;
    height: 15rem;
    padding: 1.6rem;
    border-radius: 2rem;
    background: linear-gradient(76deg, #9487ea 11.52%, #6657d2 70.78%);
    overflow: hidden;
}

.app__card-heading {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-size: 1.4rem;
}

.app__card-heading::after {
    content: url(../img/master-card.svg);
    display: inline-block;
}

.app__card-balance {
    padding-top: 0.2rem;
    color: #fff;
    font-size: 2.2rem;
    font-weight: 700;
}

.app__card-info {
    position: absolute;
    z-index: 1;
    bottom: 1.6rem;
    display: grid;
    grid-template-columns: 35% 1fr;
    gap: 0.5rem 1.2rem;
}

.app__card-validated-date,
.app__card-holder {
    white-space: nowrap;
    color: #fff;
    font-size: 1rem;
}

.app__card-validated-date-value,
.app__card-holder-name {
    white-space: nowrap;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}

.app__card-decor-01,
.app__card-decor-02 {
    position: absolute;
}

.app__card-decor-01 {
    top: 0;
    left: 0;
}

.app__card-decor-02 {
    bottom: 0;
    right: 0;
}

/* Transaction */

.app__transactions {
    display: flex;
    flex-direction: column;
    row-gap: 2.8rem;
}

.app-transaction-item {
    display: grid;
    grid-template: auto auto / 15% 1fr;
    grid-template-areas:
        "img row-1"
        "img row-2";
    align-items: center;
    column-gap: 1.4rem;
}

.transaction__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2.4rem;
    color: #31456a;
    font-size: 1.6rem;
    font-weight: 600;
}

.transaction__heading::after {
    content: url(../icon/list.svg);
}

.transaction-item__img-wrapper {
    grid-area: img;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 0.8rem;
}

.transaction-item__img {
    display: inline-block;
    width: 2rem;
    height: 2rem;
}

.app-transaction-item .row:nth-of-type(2) {
    grid-area: row-1;
}

.app-transaction-item .row:nth-of-type(3) {
    grid-area: row-2;
}

.app-transaction-item:nth-of-type(1) .transaction-item__img-wrapper {
    background: #4ab5e321;
}

.app-transaction-item:nth-of-type(1) .transaction-item__img {
    color: #4ab5e3;
}

.app-transaction-item:nth-of-type(2) .transaction-item__img-wrapper {
    background: #da646421;
}

.app-transaction-item:nth-of-type(2) .transaction-item__img {
    color: #da6464;
}

.app-transaction-item:nth-of-type(3) .transaction-item__img-wrapper {
    background: #439f9021;
}

.app-transaction-item:nth-of-type(3) .transaction-item__img {
    color: #439f90;
}

.app-transaction-item:nth-of-type(4) .transaction-item__img-wrapper {
    background: #7264d621;
}

.app-transaction-item:nth-of-type(4) .transaction-item__img {
    color: #7264d6;
}

.transaction-item__type,
.transaction-item__money {
    color: var(--primary-heading-color);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
    white-space: nowrap;
}

.transaction-item__desc,
.transaction-item__date {
    color: var(--primary-text-color);
    font-size: 1rem;
    line-height: 1; /* 100% */
}

.app__deposit {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 10.5rem;
    right: 21.4rem;
    padding: 1.4rem 1rem;
    height: 4.6rem;
    border-radius: 0.6rem;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}

.app__deposit-text {
    margin-left: 0.8rem;
    color: #31456a;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.app__deposit-stats {
    margin-left: 1.9rem;
    color: #4ab5e3;
    font-size: 1.4rem;
    line-height: 1; /* 100% */
}

.app__interest {
    position: absolute;
    right: -19.4rem;
    top: 12.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    background: #da6464;
}

.app__interest-stats {
    color: #fff;
    font-size: 4.4rem;
    font-weight: 600;
}

.app__interest-text {
    color: #fff;
    font-size: 1.6rem;
}

.app__secured-funds {
    position: absolute;
    bottom: 6.1rem;
    left: 23.4rem;
    display: flex;
    column-gap: 1.1rem;
    height: 6.8rem;
    border-radius: 1rem;
    background: #439f90;
    padding: 2rem 1.5rem 2.1rem 1.4rem;
}

.app__secured-funds-icon {
    flex-shrink: 0;
}

.app__secured-fund-info {
    display: flex;
    flex-direction: column;
}

.app__secured-funds-stats {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
    white-space: nowrap;
}

.app__secured-funds-text {
    margin-top: 0.5rem;
    color: #fff;
    font-size: 0.8rem;
    line-height: 1; /* 100% */
    white-space: nowrap;
}

/* Work */

.work-inner {
    padding: 16rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.work-left {
    position: relative;
    width: 40.17%;
    padding: 0 0.7rem;
}

.work-left-inner {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    aspect-ratio: 0.76;
}

.work__img {
    display: block;
    position: absolute;
    z-index: 1;
    width: calc(100% - 1.4rem);
    object-fit: cover;
    bottom: 0;
}

.work__img-background {
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0;
}

.work-decor {
    position: absolute;
}

.work-decor-inner {
    width: 2.779em;
    height: 2.28em;
}

.work-decor-01,
.work-decor-layer-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.8rem;
}

.work-decor-01 {
    font-size: 10px;
    width: 6.4em;
    height: 6.4em;
    background: #7264d6;
    left: 73.2%;
    top: 12.27%;
}

.work-decor-layer-1 {
    width: 4em;
    height: 4em;
    background: #f8fbfe;
}

.work-decor-02 {
    position: absolute;
    left: 34.4rem;
    top: 45.3rem;
    z-index: 1;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    width: 22.6rem;
    height: 7rem;
    padding: 1.5em;
    border-radius: 0.8rem;
    background: #fffdfa;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
}

.work-decor-success {
    flex-shrink: 0;
}

.work-decor-message,
.work-decor-message-desc {
    white-space: nowrap;
}

.work-decor-message {
    color: var(--primary-heading-color);
    font-family: Inter, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
}

.work-decor-message-desc {
    padding-top: 0.5rem;
    color: var(--primary-text-color);
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}

.work-right {
    width: 47rem;
}

.work__heading {
    margin: 1.2rem 0 7rem;
}

.work__sub-heading:not(:nth-of-type(1)) {
    padding-top: 2.9rem;
}

.work-content__desc {
    margin-top: 1.6rem;
}

/* Feature */

.feature-top {
    display: flex;
    justify-content: space-between;
}

.feature__content {
    width: 47rem;
}

.feature-top__heading {
    padding: 1.2rem 0 2rem;
}

.feature-top__desc {
    padding-bottom: 2.8rem;
}

.feature-list-option {
    display: flex;
    flex-direction: column;
    row-gap: 1.8rem;
}

.feature-option {
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
    color: var(--primary-heading-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3rem; /* 166.667% */
}

.feature-option::before {
    content: "";
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background: var(--primary-color);
}

.feature-action {
    margin-top: 3.8rem;
    color: #fff;
}

.feature-top-right {
    margin-right: 8.8rem;
    position: relative;
    width: 48.2rem;
}

.app__bank-card--big {
    z-index: -1;
    transform-origin: top left;
    transform: scale(1.928);
}

.feature-top-right-decor-01,
.feature-top-right-decor-02 {
    position: absolute;
    z-index: 2;
}

.feature-top-right-decor-01 {
    top: -8rem;
    left: 26.4rem;
}

.feature-top-right-decor-02 {
    top: 21.9rem;
    left: 45rem;
}

.feature-bottom {
    margin: 16rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature-bottom__media {
    position: relative;
    display: flex;
    width: 47rem;
}

.feature-bottom__meadia-inner {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0 2.8rem;
    position: relative;
    width: 100%;
    aspect-ratio: 0.783;
}

.feature__img {
    width: 100%;
}

.feature-bottom__background {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.feature-payment-method,
.feture-payment-illus {
    position: absolute;
}

.feature-payment-method {
    position: absolute;
    top: 32.3rem;
    left: 26.3rem;
    width: 28.1rem;
    height: 22rem;
    padding: 2.8rem;
    border-radius: 1rem;
    background: #fff;
    filter: drop-shadow(0px 44px 48px rgba(0, 0, 0, 0.1));
}

.feature-payment-method__heading {
    color: var(--primary-heading-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}

.feature-method-payment-list {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.8rem;
}

.feature-method-payment-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6.3rem;
    height: 4.8rem;
    background: #f2f2fa;
    border-radius: 0.4rem;
}

.feature-payment-method__add {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: #f9ea63;
}

.feture-payment-illus {
    position: absolute;
    left: 48rem;
    top: 28.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    background: var(--primary-color);
}

/* Feedback */

.feedback-inner {
    margin-bottom: 16rem;
}

.feedback-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback__heading {
    padding: 1.2rem 0 1.8rem;
}

.feedback__desc {
    text-align: center;
    width: 43.5rem;
}

.feedback-list {
    display: flex;
    column-gap: 3rem;
    padding: 7rem 0 3.8rem;
}

.feedback-item {
    flex-shrink: 0;
    width: calc((100% - 3rem) / 2);
    /* width: calc((117rem - 3rem) / 2); */
}

.feedback-item-bubblechat {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    padding: 4.2rem 2.8rem;
    background: #fff;
    border-radius: 1rem;
    transition: filter 0.25s;
}

.feedback-item:not(.feedback-item--active) {
    visibility: none;
    display: none;
}

.feedback-item-bubblechat:hover {
    -webkit-filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.1));
    filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.1));
}

.feedback-item-bubblechat::after {
    position: absolute;
    bottom: -11.9rem;
    content: "";
    display: block;
    border-width: 6rem 4.5rem;
    border-style: solid;
    border-color: transparent;
    border-top-color: #fff;
}

.feedback-item-desc {
    color: #696d76;
    text-align: center;
    font-size: 2.2rem;
    font-style: italic;
    line-height: 3.4rem; /* 154.545% */
}

.feedback-item-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 9.6rem;
}

.feedback__user-thumb {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 50%;
    background: #4ab5e3;
}

.feedback__user-name {
    padding: 2.2rem 0 0.2rem;
    text-align: center;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38; /* 138.462% */
    color: #070052;
}

.feedback-nav-item {
    justify-content: center;
    display: flex;
    column-gap: 1.2rem;
}

.feedback-nav-item__rectangle {
    display: inline-block;
    width: 2.2rem;
    height: 0.6rem;
    border-radius: 0.1rem;
    border: 1px solid #9b9fab;
}

.feedback-nav-item__rectangle.feedback-nav-item__rectangle--active {
    border-color: var(--primary-color);
    background: var(--primary-color);
}

/* Blog */

.blog-inner {
    padding-bottom: 16rem;
}

.blog-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog__heading {
    padding: 0.6rem 0 1.8rem;
}

.blog__desc {
    width: 43.5rem;
}

.blog-list {
    margin-top: 7rem;
    display: grid;
    grid-template: 21.6rem 21.6rem / 1fr 1fr;
    gap: 3rem;
}

.blog-item {
    display: flex;
    align-items: center;
    padding: 2.8rem;
    border-radius: 1.2rem;
    border: 1px solid #dfe2e8;
    background: #fff;
    transition: box-shadow, border-color;
    transition-duration: 0.25s;
}

.blog-item:hover {
    border-radius: 1.2rem;
    border-color: transparent;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.07);
}

.blog-item-content {
    padding-left: 2.2rem;
}

.blog-item__thumb {
    width: 16rem;
    height: 16rem;
    border-radius: 1.2rem;
}

.blog-item__date-posted {
    color: var(--primary-text-color);
    font-size: 1.4rem;
    line-height: 1.71; /* 171.429% */
}

.blog-item__heading {
    padding: 1rem 0 2rem;
    color: var(--primary-heading-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3rem; /* 166.667% */
}

.blog-item__view-blog {
    color: var(--primary-text-color);
    font-size: 1.6rem;
    line-height: 1.62; /* 162.5% */
    transition: color 0.25s;
}

.blog-item__view-blog:hover {
    color: #7264d6;
}

/* CTA */
.cta-container {
    padding: 10rem 11.2rem;
    border-radius: 2.4rem;
    background: var(--primary-color);
}

.cta-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta__title,
.cta__heading,
.cta__desc {
    color: #fff;
    text-align: center;
}

.cta__heading {
    padding: 1.2rem 0 1.8rem;
}

.cta__desc {
    width: 43.5rem;
}

.cta__title::before {
    background: currentColor;
}

.cta-btn-wrapper {
    margin-top: 3.8rem;
    display: flex;
    column-gap: 1.6rem;
    flex-shrink: 0;
}

.cta-btn {
    display: flex;
    align-items: center;
    column-gap: 0.8rem;
    padding: 1.8rem 3.1rem;
    text-align: left;
    border-radius: 0.6rem;
    background: #fff;
}

.cta-btn-suggest {
    font-size: 0.9rem;
    color: var(--primary-color);
    font-weight: 600;
}

.cta-btn-brand-name {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--primary-color);
}

.cta-decor {
    position: absolute;
}

.cta-decor:nth-child(1) {
    top: -5.1rem;
    left: 0;
}

.cta-decor:nth-child(2) {
    top: -5.1rem;
    right: 0;
}

.cta-decor:nth-child(3) {
    left: 5.4rem;
    bottom: -5.1rem;
}

.cta-decor:nth-child(4) {
    right: 5.4rem;
    bottom: -5.1rem;
}

/* Footer */

.footer {
    position: relative;
    background: #fafbff;
}

.footer-content {
    margin-top: 10rem;
    padding: 10rem 0 5.4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16.3rem;
}

.footer-col__heading {
    color: var(--primary-heading-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}

.footer-col__list {
    margin-top: 2.4rem;
}

.footer-col__option-text {
    color: #6a6e78;
    font-size: 1.8rem;
    line-height: 1.66; /* 166.667% */
    opacity: 0.75;
}

.footer-col__option + .footer-col__option {
    margin-top: 2rem;
}

.footer-col__option--more-lenght {
    width: 37.1rem;
    padding-bottom: 4.8rem;
}

.footer-form {
    margin-top: 2.4rem;
    display: flex;
    column-gap: 2rem;
}

.form-input {
    width: 24rem;
    height: 5.2rem;
    padding: 1.2rem;
    border-radius: 0.6rem;
    border: 1px solid #8e919a;
    outline: none;
}

.form-btn {
    background: var(--primary-color);
}

.footer-contact {
    display: flex;
    column-gap: 10rem;
}

.footer-contact__email,
.footer-contact__phone {
    color: #6a6e78;
    font-size: 1.8rem;
    line-height: 1.66; /* 166.667% */
    text-decoration-line: underline;
    text-underline-offset: 0.2rem;
}

.footer__coppy-right {
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: 2.8rem;
    padding: 2.8rem 0;
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.8rem; /* 175% */
    color: #fff;
    background: var(--primary-color);
}
